html, body, *, div, article, header, nav, aside, section, figure, footer, ul, ol, li, h1, h2, h3, h4, h5, h6, p, span, a, em, b, strong, sup, sub, i, from, filedset, label, img {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0;
  padding-left: 0;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1em;}
h5 {font-size: 0.5em;}
h6 {font-size: 0.25em;}
p {margin: 2em 0;}
div, p, a, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft JhengHei;
}

.main {
    height: 100vh;
    min-height: 650px;
    background-image: url("../images/web/dark_embroidery.png");
}
.body {
    text-align: center;
}
.use_flexbox{
    display:flex;
    align-items:center;
    justify-content:center;
}
.use_flexboxend{
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.wood_desk {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: url(../images/web/bg_lobby.jpg);
    background-size: 100% auto;
}

/*index*/
.index_view {
    height: 300px;
    width: 300px;
    background-image: url("../images/web/LOGO2.png");
    color: #dddddd;
}
/*login*/
.login_view {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 200px;
    width: 300px;
    background-image: url(../images/web/concrete_seamless.png);
}
/*lobby*/
.lobby {
    height: 600px;
    width: 1000px;
}
.info .info_h {
    text-align: center;
    padding: 20px 0px;
}
.info .info_b {
    text-align: center;
    padding-top: 6px;
    background-image: url(../images/web/score_board.png);
    background-size: 100% 100%;
}
.btn_style {
    height: 50%;
    font-size: 2em;
}
.img {
    display: inline-block;
    height: 170px;
    width: 170px;
}
/*room*/
.btn_sty {
    width: 80%;
}
.maker_card,.player_card {
    padding: 1% 2%;
}
.maker_card {
    background-image: url(../images/web/pokeback_l.png);
    background-size: 100% 100%;
}
.player_card {
    background-image: url(../images/web/pokeback_r.png);
    background-size: 100% 100%;
}
.poke_style {
    display: inline-block;
    width: auto;
    height : auto;
    max-height: 90%;
    max-width: 19%;
}
.pokes_style {
    margin: 2%;
    display: inline-block;
    width: auto;
    height : auto;
    max-height: 90%;
    max-width: 90%;
    display: none;
}
.board_l {
    background-image: url(../images/web/textfrom.png);
    background-size: 100% 100%;
    padding: 2%;
    color: #ffffff;
}
.board_r {
    background-image: url(../images/web/selectfrom.png);
    background-size: 100% 100%;
    padding: 20px;
}
.board_r div .btn {
    max-height: 100%;
}
.img_autow {
    display: none;
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%; 
}
/*result*/
.result_view {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 600px;
    width: 600px;
    background-image: url("../images/web/concrete_seamless.png");
}
.result_h {
    display: inline-block;
    width: 500px;
    height: 120px;
}
.result_b {
    display: inline-block;
    width: 240px;
    height: 120px;
}
.result_f {
    display: inline-block;
    width: auto;
    height: 120px;
}
.res_img {
    width: 100%;
    height: 100%;
}
.res_style {
    display: inline-block;
    width: auto;
    height : auto;
    max-width: 18%;
    max-height: 90%;
    display: none;
}

/*used tool*/
.float {
    float: left;
}
.clear {
    clear: both;
}

/*bg color*/
.bg_red {
    background-color: #ff0000;
}
.bg_blue {
    background-color: #0000ff;
}
.bg_green {
    background-color: #00ff00;
}
.bg_white {
    background-color: #ffffff;
}
.bg_black {
    background-color: #000000;
}
.bg_gray3 {
    background-color: #333333;
}
.bg_gray6 {
    background-color: #666666;
}
.bg_gray9 {
    background-color: #999999;
}

/*width*/

.w100 {width: 100%;}
.w90 {width: 90%;}
.w80 {width: 80%;}
.w70 {width: 70%;}
.w66 {width: 66.66666666%;}
.w60 {width: 60%;}
.w50 {width: 50%;}
.w40 {width: 40%;}
.w33 {width: 33.33333333%;}
.w30 {width: 30%;}
.w20 {width: 20%;}
.w10 {width: 10%;}

.css_btn_class {
    font-size:20px;
    font-family:Trebuchet MS;
    font-weight:normal;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:0px solid #dcdcdc;
    padding:15px 20px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
    background-color:#ededed;
    color:#777777;
    display:inline-block;
}.css_btn_class:hover {
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
    background-color:#dfdfdf;
}.css_btn_class:active {
    position:relative;
    top:1px;
}

/*RWD*/
@media screen and (min-width: 992px) {
/*lobby*/
.lobby {
    width: 900px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
/*lobby*/
.lobby {
    width: 100%;
}
/*room*/
.btn_sty {
    padding: 0;
}
}
@media screen and (max-width: 767px) {
/*lobby*/
.lobby {
    width: 100%;
}
}

/*height*/
.hig-xs-12 {
    height: 100%;
}
.hig-xs-11 {
    height: 91.666667%;
}
.hig-xs-10 {
    height: 83.333333%;
}
.hig-xs-9 {
    height: 75%;
}
.hig-xs-8 {
    height: 66.666667%;
}
.hig-xs-7 {
    height: 58.333333%;
}
.hig-xs-6 {
    height: 50%;
}
.hig-xs-5 {
    height: 41.6666667%;
}
.hig-xs-4 {
    height: 33.333333%;
}
.hig-xs-3 {
    height: 25%;
}
.hig-xs-2 {
    height: 16.666667%;
}
.hig-xs-1 {
    height: 8.333333%;
}
@media (min-width: 768px) {
    .hig-sm-12 {
        height: 100%;
    }
    .hig-sm-11 {
        height: 91.666667%;
    }
    .hig-sm-10 {
        height: 83.333333%;
    }
    .hig-sm-9 {
        height: 75%;
    }
    .hig-sm-8 {
        height: 66.666667%;
    }
    .hig-sm-7 {
        height: 58.333333%;
    }
    .hig-sm-6 {
        height: 50%;
    }
    .hig-sm-5 {
        height: 41.6666667%;
    }
    .hig-sm-4 {
        height: 33.333333%;
    }
    .hig-sm-3 {
        height: 25%;
    }
    .hig-sm-2 {
        height: 16.666667%;
    }
    .hig-sm-1 {
        height: 8.333333%;
    }
}
@media (min-width: 992px) {
    .hig-md-12 {
        height: 100%;
    }
    .hig-md-11 {
        height: 91.666667%;
    }
    .hig-md-10 {
        height: 83.333333%;
    }
    .hig-md-9 {
        height: 75%;
    }
    .hig-md-8 {
        height: 66.666667%;
    }
    .hig-md-7 {
        height: 58.333333%;
    }
    .hig-md-6 {
        height: 50%;
    }
    .hig-md-5 {
        height: 41.6666667%;
    }
    .hig-md-4 {
        height: 33.333333%;
    }
    .hig-md-3 {
        height: 25%;
    }
    .hig-md-2 {
        height: 16.666667%;
    }
    .hig-md-1 {
        height: 8.333333%;
    }
}
@media (min-width: 1200px) {
    .hig-lg-12 {
        height: 100%;
    }
    .hig-lg-11 {
        height: 91.666667%;
    }
    .hig-lg-10 {
        height: 83.333333%;
    }
    .hig-lg-9 {
        height: 75%;
    }
    .hig-lg-8 {
        height: 66.666667%;
    }
    .hig-lg-7 {
        height: 58.333333%;
    }
    .hig-lg-6 {
        height: 50%;
    }
    .hig-lg-5 {
        height: 41.6666667%;
    }
    .hig-lg-4 {
        height: 33.333333%;
    }
    .hig-lg-3 {
        height: 25%;
    }
    .hig-lg-2 {
        height: 16.666667%;
    }
    .hig-lg-1 {
        height: 8.333333%;
    }
}